
<header>
    <h1>Добро пожаловать в наш магазин!</h1>
    <p>Здесь вы найдете более миллиона товаров и можете связаться с нашей тех поддержкой</p>

    <div class="categories">
        <button (click)="filterCategory('')">Все категории</button>
        <button (click)="filterCategory('smartphone')">Телефоны</button>
        <button (click)="filterCategory('gpu')">Видеокарты</button>
        <button (click)="filterCategory('cpu')">Процессоры</button>
        <button (click)="filterCategory('laptop')">Ноутбуки</button>
    </div>
    
    <section class="search">
        <form>
            <input type="text" placeholder="Поиск товара" #filter>
            <button class="primary" type="button" (click)="filterResults(filter.value)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </form>
        <div class="products">
            <app-product-card 
                *ngFor="let productCard of filteredProducts" 
                [productCard]="productCard"
                (removeProduct)="onProductRemove($event)"
            >
            </app-product-card>
        </div>
    </section>
</header>